
.content{
    max-width: 960px;
    margin: auto;
}

body{
    text-align: center;
}

.h2{
    text-align: center;
}

p{
    text-align: left;
    text-indent: 50px;
    font-size: 20px;
}

.thoughts{
    width: 900px;
    margin: auto;
}

body{
    background-color: lightcyan;
}


.about{
    box-sizing: border-box;
    width: 50%;
    border: 10px solid red;
    margin: auto;
    top: 40px;
    text-align: center;
}

.Presentation{
     box-sizing: border-box;
    width: 50%;
    border: 10px solid purple;
    left: 600px;
    top: 150px;
    text-align: center;
}

.Projects{
     box-sizing: border-box;
    width: 50%;
    border: 10px solid blue;
    left: 40px;
    top: 0px;
    text-align: center;
}

.Exercises{
     box-sizing: border-box;
    width: 50%;
    border: 10px solid pink;
    left: 600px;
    top: -110px;
    text-align: center;
}

.Thoughts{
     box-sizing: border-box;
    width: 50%;
    border: 10px solid yellow;
    left: 40px;
    top: -120px;
    text-align: center;
}
