body{
    background-color:black;
    background-image: url("assets/technology_and_nature_duality_by_corrupttitan-d9eylp3.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#scrolltext1{
    color:orangered;
    font-size: 40px;
}
.computer{
    height: auto;
    display: flex;
    justify-content: center;
    
}

.head{
    display:inline-block;
    top: 70%;
    left:60%;

    position: absolute;
}

.icon{
    top: 70%;
    left:10%;
    position: absolute;
}