body {
    /*    background-color:black;*/
    background-image: url("assets/tumblr_ndrglszLD11rpco88o1_500.gif");

    background-repeat: repeat;
}

#scrolltext1 {
    color: rosybrown;
    font-size: 80px;
    text-align: center;
}

#leftscroll{
    color: orangered;
    font-size: 30px;
}
#rightscroll{
    color: orangered;
    font-size: 30px;
}
.h2{
    color: aquamarine;
}
*{
  box-sizing: border-box;
}

.column {
    float: left;
    padding: 10px;
}

.left, .right {
    width: 10%;
}

.middle {
    width: 80%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.polaroids {
    position: relative;
    justify-content: center;
    top: 180px;
    left: 20px;
}


.textbox {
    position: relative;
    top: 200px;


    text-align: center;
    font-size: 20px;
}

#text1 {
    border: 20px solid green;
    background-color: antiquewhite;
    display: none;
}

#text2 {
    border: 20px solid green;
    background-color: antiquewhite;
    display: none;
}

#text3 {
    border: 20px solid green;
    background-color: antiquewhite;
    display: none;
}

#text4 {
    border: 20px solid green;
    background-color: antiquewhite;
    display: none;
}



#plant1 {

    z-index: -5;
    width: 1350px;
    display: none;
}

#plant2 {
    z-index: -5;
    width: 1350px;
    display: none;
}

#plant3 {
    z-index: -5;
    width: 1350px;
    display: none;
}

#plant4 {
    z-index: -5;
    width: 1350px;
    display: none;
}
